<div class="wrapper">
  <div class="side-bar">
    <div class="side_header">
    <div class="side-menu">
      <%= render "side_bar" %>
    </div>
    </div>
  </div>
  <div class="chat">
    <div class="chat_heasder">
    <div class="chat_fotter">
      <%= render "main_chat" %>
    </div>
    </div>
  </div>
</div>